 *{
margin:0px;
padding:0px;
box-sizing: border-box;
 }
	  
header{
	  
	background-image:linear-gradient(rgab(0,0,0,0.7),rgba(0,0,0,0,7) url('../images/header.jpg');
	background-size:cover;
	background-repeat:no-repear;
	background-position:center;
	height:100vh;
	
}
.row{
	max-width:1180px;
	margin:0 auto;
}

.logo{
	height:120px;
	width:auto;
	
float:left;
margin-top:20px;
}